body {
    box-sizing: border-box;
    background-color: var(--greyLight-1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.badge-container{
    width: 10rem;
    height: 7rem;
    border: 1px solid red;
    padding: 1rem;
    position: relative;
    display: inline-block;
}

.badge-container img{
    width:6rem;
    height:4rem;
}

.badge-text{
    font-size: 1.4rem;
    font-weight:bold;
    position: absolute;
    /* border: 1px solid red; */
    right: 6.5rem;
    top: 0.7rem;
    background: red;
    border-radius: 50%;
    color: white;
}