@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  /* --secondary:#394fe2;
  --secondary-light:#054ab1; */

  --white: #ffffff;
  --black: black;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  font-size: 62.5%;
}
