body {
    box-sizing: border-box;
    background-color: var(--greyLight-2);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.chips {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 1rem;
    outline: 1px solid;
    border-radius: 2rem;
    background-color: var(--greyLight-1);
}

.chips-section {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    /* outline: 1 px solid #CCC; */
    margin-right: 1rem;
    white-space: nowrap;
    word-wrap: nowrap;
    border: 1 px solid #CCC;
    border-radius: 2rem;
    padding: 0.4rem 0.6rem;
    font-size: inherit;
    margin-bottom: 1rem;
}

.chip-ele {
    outline: 1px solid #CCC;
    background: var(--greyLight-2);
    display:flex;
    align-items: center;

}

.cross-chip {
    border: none;
    background: none;
    padding: none;
    width: 1.4rem;
    font-size: 1.1rem;
    /* padding-left: 0.2rem; */
    background-color:var(--greyDark);
    border-radius: 50%;
}